---
import { Badge } from "@/components/ui/badge";
import MainPage from "@/layouts/MainPage.astro";
import type { GetStaticPaths } from "astro";
import { getCollection } from 'astro:content';

export const getStaticPaths = (async () => {
  const blogEntires = await getCollection('posts')
  return blogEntires.map(entry => ({
    params: {slug: entry.slug}, props: {entry}
  }))
}) satisfies GetStaticPaths;

interface Props {
  entry: Awaited<ReturnType<typeof getCollection<"posts">>>[0]
}
const {entry} = Astro.props
const {Content} = await entry.render()
---
<MainPage title={entry.data.title}>
  <div id="post" class="mt-32 w-6/12 mx-auto p-10 ">
    <h2 transition:name={entry.data.title} class="mb-4">{entry.data.title}</h2>
    <Badge className="py-1 mb-2" variant="secondary">Author: {entry.data.author}</Badge>
    <div transition:name={"post" + entry.slug} class="flex flex-col gap-5 p-10 shadow-sm border-[1px] rounded-lg text-lg">
      <Content />
    </div>
  </div>
</MainPage>

<style is:global>
/* #post > p { */
/*   @apply text-lg */
/* } */
</style>
