---
import { Badge } from "@/components/ui/badge";
import MainPage from "@/layouts/MainPage.astro";
import type { GetStaticPaths } from "astro";
import { getCollection } from 'astro:content';
import { Image } from "astro:assets";

export const getStaticPaths = (async () => {
  const blogEntires = await getCollection('posts')
  return blogEntires.map(entry => ({
    params: {slug: entry.slug}, props: {entry}
  }))
}) satisfies GetStaticPaths;

interface Props {
  entry: Awaited<ReturnType<typeof getCollection<"posts">>>[0]
}
const {entry} = Astro.props
const {Content} = await entry.render()
---
<MainPage title={entry.data.title}>
  <div id="post" class="mt-20 md:mt-32 container md:w-6/12 mx-auto p-10 ">
    {entry.data.image && <Image src={entry.data.image} alt={"Blog Image"} width="300" height={300} class="rounded-lg mb-10" /> }
    <h2 class="mb-4">{entry.data.title}</h2>
    <p class="mb-4">{entry.data.description}</p>
    <Badge className="py-1 mb-2" variant="secondary">Author: {entry.data.author}</Badge>
    <Badge className="py-1 mb-2 ml-2" variant="outline">Date: {entry.data.postDate}</Badge>
    <div class="bg-primary-foreground flex flex-col gap-5 md:p-10 p-4 shadow-sm border-[1px] rounded-lg text-lg">
      <article class="prose prose-stone">
        <Content />
      </article>
    </div>
  </div>
</MainPage>

<style is:global>
/* #post > p { */
/*   @apply text-lg */
/* } */
</style>
