---
import MainPage from "../layouts/MainPage.astro"
import {getCollection} from "astro:content"

const presentations = (await getCollection('presentations')).sort((a, b) => a.data.presentationDate - b.data.presentationDate).filter(p => p.data.presentationDate > new Date())

---
<!--TODO: un-mess up dates of events -->
<MainPage title="Upcoming Events">
  <div class="mt-20 md:mt-44 md:px-20 md:w-6/12 container mx-auto flex flex-col gap-4 mb-9">
    <h2 class="">Upcoming Events</h2>

    <p class="text-lg">These are the upcoming events for computer club. Presentations, competitions, project openings and other announcements are all shown here</p>


  </div>
    {presentations.map(p => 
      <div class="mx-auto w-7/12 mb-5 bg-primary-foreground p-5 shadow-sm border-[1px] rounded-lg flex flex-row items-center gap-7 hover:scale-[101%] transition-all group">
        <img src={p.data.image} class="w-32 inset-0"/>
        <div class="flex flex-col">
          <h3>{p.data.title}</h3>
          <p class="text-2xl">{p.data.presentationDate?.toDateString()}</p>
        </div>
        <p class="text-lg">{p.data.description}</p>
        <button>Sign up</button>
      </div>
    )}
</MainPage>
