---
import MainPage from "../layouts/MainPage.astro";
import {Button} from "@/components/ui/button"
import {Badge} from "@/components/ui/badge"
import {Separator} from "@/components/ui/separator"
import { Remarkable } from 'remarkable';
var md = new Remarkable();

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card"

import {getCollection, getEntry} from "astro:content"
import { Image } from "astro:assets";

const posts = await getCollection("posts")
const postsSorted = posts.slice().sort((a, b) => (new Date(b.data.postDate ?? 0).getTime() - new Date(a.data.postDate ?? 0).getTime()))

// const posts = allPosts.slice()
---

<MainPage title="Posts">


  <div class="h-screen mt-20 md:mt-44 md:px-20 container md:w-6/12 mx-auto flex flex-col gap-4">
    <h2 class="">Posts</h2>

    <p class="text-lg">Blog posts from the members of computer club.</p>

    <Separator />

    <div class="grid grid-cols-1 gap-3">
      {postsSorted.map(p => (
        <a href={"posts/"+p.slug}>
          <Card className="bg-primary-foreground px-4 py-4 hover:scale-[101%] transition-all hover:shadow-lg flex md:flex-row flex-col gap-7 items-center">
          {p.data.image && <Image src={p.data.image} alt={"Blog Image"} width="200" height={200} class="rounded-lg" /> }

            <div>
            <div class="mb-3 flex flex-col gap-3">
              <CardTitle className="text-2xl md:text-3xl md:font-sans"> {p.data.title}</CardTitle>
              {p.data.description && <CardDescription className="md:text-sm !text-2xl mb-2">{p.data.description}</CardDescription>}
            </div>

            <Badge variant={"outline"} className="py-1 mb-2 bg-gray-200 text-black">{p.data.author}</Badge>
            {p.data.postDate && <Badge className="py-1 mb-2 ml-2" variant="outline">Date: {p.data.postDate}</Badge>}
            </div>
          </Card>
        </a>
      ))}

    </div>

</MainPage>
