---
import MainPage from "../layouts/MainPage.astro";
import {Button} from "@/components/ui/button"
import {Badge} from "@/components/ui/badge"
import {Separator} from "@/components/ui/separator"
import { Remarkable } from 'remarkable';
var md = new Remarkable();

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card"

import {getCollection, getEntry} from "astro:content"

const posts = await getCollection("posts")

// const posts = allPosts.slice()
---

<MainPage title="Posts">


  <div class="h-screen mt-20 md:mt-44 md:px-20 container md:w-6/12 mx-auto flex flex-col gap-4">
    <h2 class="">Posts</h2>

    <p class="text-lg">Blog posts from the members of computer club.</p>

    <Separator />

    <div class="grid grid-cols-1 gap-3">
      {posts.map(p => (
        <a href={"posts/"+p.slug}>
          <Card className="bg-primary-foreground px-8 py-2 hover:scale-[101%] transition-all hover:shadow-lg">

            <div class="mb-3 flex flex-col gap-3">
              <CardTitle className="text-2xl md:text-4xl !font-sans"> {p.data.title}</CardTitle>
              {p.data.description && <CardDescription className="md:text-sm !text-2xl mb-2">{p.data.description}</CardDescription>}
            </div>

            <Badge variant={"outline"} className="py-1 mb-2 bg-gray-200 text-black">{p.data.author}</Badge>
            <Badge className="py-1 mb-2 ml-2" variant="outline">Date: {p.data.postDate}</Badge>
          </Card>
        </a>
      ))}

    </div>

</MainPage>
