---
import MainPage from "../layouts/MainPage.astro";
import {Button} from "@/components/ui/button"
import {Badge} from "@/components/ui/badge"
import {Separator} from "@/components/ui/separator"
import { Remarkable } from 'remarkable';
var md = new Remarkable();

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card"

import {getCollection, getEntry} from "astro:content"

const posts = await getCollection("posts")

// const posts = allPosts.slice()


  
---

<MainPage title="Posts">

  <div class="h-screen mt-20 md:mt-44 md:px-20 container md:w-6/12 mx-auto flex flex-col gap-4">
    <h2 class="">Posts</h2>

    <p class="text-lg">Blog posts from the members of computer club.</p>

    <Separator />

    <div class="grid grid-cols-1 gap-3">
      {posts.map(p => (
        <a href={"posts/"+p.slug}>
          <Card transition:name={"post" + p.slug} className="md:grid grid-cols-3 p-3 items-center hover:scale-[101%] hover:shadow-lg transition-all bg-primary-foreground">
            <CardHeader className="col-span-2">
              <CardTitle className="text-3xl font-sans"> {p.data.title}</CardTitle>
            </CardHeader>

            <CardContent className="col-span-1">
              <CardDescription className="text-md md:text-sm"><i class="font-bold">{p.data.description}</i> <br/> <b><u>Author</u>: </b> {p.data.author} <br/> <b><u>Post date</u>: </b> {p.data.postDate} </CardDescription>
            </CardContent>
          </Card>
        </a>
      ))}

    </div>

</MainPage>
