---
import MainPage from "../layouts/MainPage.astro";
import {Button} from "@/components/ui/button"
import {Badge} from "@/components/ui/badge"
import {Separator} from "@/components/ui/separator"

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card"

import {getCollection, getEntry} from "astro:content"

const posts = await getCollection("posts")
const today = new Date()

function regFirstWords(s:String, n:number) {
    // ?: non-capturing subsequent sp+word.Change {} if you want to require n instead of allowing fewer
    var a = s.match(new RegExp('[\\w\\.]+' + '(?:[\\s-]*[\\w\\.]+){0,' + (n - 1) + '}')); 
    return  (a === undefined || a === null) ? '' : a[0];
}
// const posts = allPosts.slice()
  



---

<MainPage title="Posts">

  <div class="h-screen mt-44 px-20 w-6/12 mx-auto flex flex-col gap-4">
    <h2 class="">Posts</h2>

    <p class="text-lg">Blog posts from the members of computer club.</p>

    <Separator />

    <div class="grid grid-cols-1 gap-3">
      {posts.map(p => 
        <Card>
          <CardHeader>

            <CardTitle> <a href={"posts/"+p.slug}><u>{p.data.title}</u></a></CardTitle>
            <CardDescription><i>{p.data.description}</i> <br> Author: {p.data.author} </CardDescription>
           {p.data.postDate && <Badge variant={"outline"} className="w-min">{p.data.postDate}</Badge>}
            
           </CardHeader>
          <CardContent>{p.body}</CardContent>
        </Card>
      )}
    </div>

  </div>

</MainPage>
