---
// Will need to get a list of the presentations and posts

import Header from "../components/Header.astro";
import '../styles/global.css';
import BackgroundImage from "../components/BackgroundImage.astro";
import '@fontsource/mulish'
import PostPresentationPreview from "../components/PostPresentationPreview.astro";



const posts = (await Astro.glob('./posts/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);

const featured = posts[2]
const post1 = posts[0]
const post2 = posts[1]
---


<Header />



<div class="container pt-20 mx-auto">

  <div class="w-3/4 mx-auto mb-10">
    <h1 class="text-5xl font-bold mb-5">Presentations and Posts</h1>
    <p>A collection of recent CS presentations and posts. <br /><br /> Computer Club members are encouraged to make side-projects and learn cool CS topics. Members share their projects/learning through in-person presentations or share through writing blog posts.</p>
  </div> 

  <div class="grid grid-cols-3 gap-6 h-[500px]">
    <BackgroundImage 
      className="bg-white group col-span-2 rounded-2xl shadow-2xl grid grid-cols-3" 
      image={featured.frontmatter.heroImage}
    >
      <div class="flex flex-col bg-black/50 backdrop-blur-sm transition-all col-span-2 rounded-l-2xl p-9">
        <h1 class="font-bold text-white text-7xl">{featured.frontmatter.title}</h1>
        <p class="text-gray-300 text-2xl mt-4">Author: {featured.frontmatter.author}</p>
        <p class="text-3xl mt-4 text-white">{featured.frontmatter.description}</p>
        <button class="w-40 border-white border-2 hover:bg-sky-400 hover:border-sky-400 hover:scale-110 transition-transform mt-auto text-white rounded-full px-5 py-2"><a href={featured.url}>Read More</a></button>
      </div>
    </BackgroundImage>

    <div class="grid grid-rows-2 grid-flow-col gap-5">
      <PostPresentationPreview
        descirption={post1.frontmatter.description}
        image={post1.frontmatter.heroImage}
        title={post1.frontmatter.title}
        url={post1.url}
        author={post1.frontmatter.author}
      />

      <PostPresentationPreview
        descirption={post2.frontmatter.description}
        image={post2.frontmatter.heroImage}
        title={post2.frontmatter.title}
        url={post2.url}
        author={post2.frontmatter.author}
      />
    </div>
  </div>

  <h1 class="text-center font-bold text-3xl py-2 mt-20 mb-10">All Presentations/Posts</h1>

  <div class="grid grid-cols-3 gap-6">
    {posts.map((post) => (
      <PostPresentationPreview
        descirption={post.frontmatter.description}
        image={post.frontmatter.heroImage}
        title={post.frontmatter.title}
        url={post.url}
        author={post.frontmatter.author}
      />
    ))}

</div>





