---
import MainPage from './MainPage.astro';

export interface Props {
	content: {
		title: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<MainPage>
  <div class="pt-20">
    <article class="py-10 bg-white rounded-3xl shadow-xl sm:w-7/12 mx-auto px-20">

      <h1  class="my-10 text-8xl text-center">{title}</h1>
      {heroImage && <img width={720} class="rounded-lg mx-auto" height={360} src={heroImage} alt="" />}


      <div class="flex flex-row justify-center items-center gap-2 my-10">
        {pubDate && <div class="rounded-full bg-gray-200 p-2 w-fit"><time>{pubDate}</time></div>}

        { updatedDate && (
          <div class="rounded-full text-gray-400 bg-gray-200 p-2 w-fit">
            Last updated on <time class="text-gray-900">{updatedDate}</time>
          </div>
        ) }
        { author && (
          <div class="rounded-full text-gray-400 bg-gray-200 p-2 w-fit">
            Author: <time class="text-gray-900">{author}</time>
          </div>
        ) }
      </div>
    )
    }
  <hr />
    <slot />
  </article>

</MainPage>

